name: Build images Backend Senja Kopi-Kiri
on:
  push:
     tags:
      - '*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20' 

      - name: Install Dependencies
        run: npm install   
      
      - name: Install Vercel CLI
        run: npm install -g vercel

      - name: Debug token
        run: |
          echo "Token : ${#VERCEL_TOKEN}"
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}

      - name: Build & Deploy Project
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
        run: vercel --prod --yes
